body {
    background: #f1f1f1;
    padding: 50px;
}

h1,h4 {
    text-align: center
}

div#crypto-container {
    background: white;
    width: 70%;
    margin: 0% auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgray;
}

span.left {
    font-weight: bold;
    
}


span.middle {
    float: right;
    padding-left: 25em;
    color: purple;
    
}


span.right {
    float: right;
    padding-left: 25em;
    padding-bottom: 5px;
    
}
